/* ----- Get rid of ALL padding and margins ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----- Begone useless spaces I did not ask for ----- */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.adiv {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

.anotherdiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
border-color: #fefefe;
}

h2 {
  color: red;
}

h1 {
  color: green;
}

.typegrids {
  width: 90vw;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  /* display: flex; */
  justify-content: center;
  gap: .5rem;
}

.typecontainer {
    /* display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    width: 90vw;
    gap: .5rem; */
    display: grid;
    /* grid-template-columns: 20rem; */
    grid-auto-rows: min-content;
    gap: .5rem;
    justify-content: center;
}

.typecol2 {
    display: grid;
    /* grid-template-columns: 20rem; */
    grid-auto-rows: min-content;
    gap: .5rem;
    justify-content: center;
}

.typecol3 {
    display: grid;
    /* grid-template-columns: 20rem; */
    grid-auto-rows: min-content;
    gap: .5rem;
    justify-content: center;
}

.typeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
}

.typeheader {
      background-color: #2e2e2e;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.relationpara {
  font-weight: 500;
  color: #eaeaea;
}

.namesprite {
  width: 120px;
  display: block;
}

.spritesinrel {
  width: 90px;
}

.typecard {
  background-color: #2e2e2e;
  border: 2px solid #373737;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  line-height: 2;
}

.hide {
  display: none;
}

.relspritecontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.showbg {
  background-color: #2e2e2e;
  border-radius: 15px;
}

.relationcontainer {
  background-color: #373737;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: 15px;
}



/* ------------------ MEDIA QUERIES --------------------------- */

/* Mobile - 1 Column */
@media (max-width: 500px ) {

  .typegrids {
    grid-template-columns: 95vw;
    gap: .5rem;
}
}

/* Tablet - 2 Columns */
@media (min-width: 501px ) and (max-width: 1023px) {

  .typegrids {
    grid-template-columns: 95vw;
    gap: .5rem;
}
}

/* Have to rethink how media queries will function with the new 3 column layout

Key issues:
- Content is generated and inserted in a round robin method
IE: 3 colums
1, 2, 3
1, 2, 3

This keeps the type order correct when there is 3 columns and 6 rows

Just changing the display position of each column for each breakpoint would result in the data being out of order
( Not the biggest issue as the order doesn't effect much, but there is an "expected standard order" for types I would like to keep )
*/